.box {
  display: flex;
  margin-left: 42px;
}

.box .precent svg circle {
  fill: none;
  stroke-width: 16px;
  stroke: #000;
  transform: translate(7%, 7%);
  top: 0;
  left: 0;
  stroke-dasharray: 460;
  stroke-linecap: round;
  transition: 1s linear;
}
.box .precent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: none;
}

.box .precent svg circle:nth-child(2) {
  stroke: rgba(9, 64, 103, 0.6);
  box-shadow: 0 4px 38px 0 #09406766;
}

.previous_bid {
  width: 100%;
  .Bid_button {
    border: 1px solid var(--color2);
  }

  > p {
    margin-top: 20px;
    text-align: center;
    color: var(--color1);
    font-weight: bold;
  }

  .previous_bid_player_info {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: var(--color3);
    font-size: 12px;

    > div {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 5px 33px 5px 5px;
      border-radius: 10px;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 7px;
    }
  }
}

.player_bet {
  color: var(--color1);
  font-weight: bold;
}

.place_a_bet_money {
  border: none;
}
